h1{
    color: blue;
    text-align: center;
}
span{
    color: green;
    /* text-align: center; */
    /* span 태그는 인라인 요소이다 
    인라인 요소의 크기는 컨텐츠 크기와 동일하다
    딱 맍는 칸에 들어간 요소가 정렬될 수는 없다
    인라인 요소는 text-align이 불가능하다*/
}
.text1{
    color: darkgreen;
    font-weight: bold;
    font-size: 35px;
    background-color: beige;
}
.no-dot{
    list-style-type: none;
    /* list-style-type 속성은 리스트 앞에 표현하는 도형이나 숫자들의 모양을 설정한다 */

}
div{
    background-color: black;
    text-align: right;
    color: rgb(247, 247, 247);
    /* 색을 변경할 때 단순이 색의 이름만 사용하는게 아니라  16진수나 rgb값도 사용이 가능하다*/
    /* rgb(0,0,0,0)은 투명도를 설정할 수 있다 
    좌측 네모 박스를 눌러 눈으로 보고 선택도 가능하다*/
}

body{
        font-family: "Gills Sans", "Gill Sans MT", Calibri, "Trebuchent MS", sans-serif;  
        /* 폰트 변경하기 */
}